*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.DS_Store
target/
output/
*.log
# clojure
.lein-failures
.lein-repl-history
.nrepl-port
*.pyc
node_modules/
.gradle
build
#cargo
Cargo.lock
